html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(106, 95, 95);
}

.calculator {
  background: rgb(255, 224, 185);
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}
.calculator-display {
  background: rgb(117, 92, 61);
  color: white;
  display: inline-block;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: 'Lucida Console', sans-serif;
  font-weight: 100;
  overflow-x: auto;
}

.calculator-display div {
  width: 100%;
  border-bottom: 1px solid white;
}

.calculator-button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.equal-sign {
  background: rgb(81, 179, 81);
  color: white;
  grid-column: -2;
  grid-row: 2 / span 4;
}

button {
  position: relative;
  min-height: 50px;
  font-size: 20px;
  font-weight: 100;
  border: none;
  /* border-radius: 5px; */
  cursor: pointer;
  background: rgb(88, 135, 189);
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translateY(2px);
}

button:focus {
  outline: none;
}

.upper {
  position: absolute;
  font-size: 10px;
  left: 60%;
  top: 30%;
}

.operator, .plusOrMinus, .operation {
  background: rgb(43, 72, 105);
  color: white;
  font-size: 30px;
}

.clear {
  background-color: rgb(230, 82, 82);
  color: white;
}

.clear:hover {
  filter: brightness(90%);
}

@media screen and(max-width:600px) {
  .calculator {
    width: 95%;
  }
}
